<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://openbox.org/
    file:///usr/share/openbox/menu.xsd">

    <menu id="root-menu" label="Openbox 3">
        <item label="Terminal">
            <action name="Execute"><execute>terminal</execute></action>
        </item>
        <item label="WWW">
            <action name="Execute"><execute>browser</execute></action>
        </item>
        <item label="Gvim">
            <action name="Execute"><execute>gvim</execute></action>
        </item>
        <item label="File-Manager">
            <action name="Execute"><execute>filemanager</execute></action>
        </item>
        <item label="RunCmd ...">
            <action name="Execute"><execute>dmenu_run -fn  "WenQuanYi Micro Hei:size=11"</execute></action>
        </item>

        <separator />

        <item label="Stardict">
            <action name="Execute"><execute>stardict</execute></action>
        </item>
        <item label="Thunderbird">
            <action name="Execute"><execute>thunderbird</execute></action>
        </item>
        <item label="Virtualbox">
            <action name="Execute"><execute>virtualbox</execute></action>
        </item>
        <item label="Iptux">
            <action name="Execute"><execute>iptux</execute></action>
        </item>
        <item label="Eclipse">
            <action name="Execute"><execute>eclipse</execute></action>
        </item>


        <separator />
        <item label="Control-Center">
            <action name="Execute"><execute>gnome-control-center</execute></action>
        </item>
        <!-- This requires the presence of the 'menu' package to work -->
        <menu id="/Debian" />
        <separator />
        <menu id="client-list-menu" />
        <separator />
        <item label="ObConf">
            <action name="Execute"><execute>obconf</execute></action>
        </item>
        <item label="Restart">
            <action name="Restart" />
        </item>
        <separator />
        <item label="Exit">
            <action name="Exit" />
        </item>
        <item label="ShowDesktop">
            <action name="ToggleShowDesktop" />
        </item>
    </menu>

</openbox_menu>
